$base-font: monospace;
$color-primary: rgb(17, 46, 134);
$color-3th: rgb(0, 46, 131);
$color-secondary: rgb(2, 2, 22);
$color-picked: rgb(27, 72, 213);

.link {
  &--white {
    text-decoration: none;
    color: white;
  }
  &--primary {
    text-decoration: none;
    color: $color-primary;
  }
}
