@import '../../theme/variables.scss';

.searchBar {
  padding: 1rem;
}

.searchBar__input {
  padding: 0.5rem;
  border: 2px solid $color-primary;
  border-radius: 10px;
  color: $color-primary;
}

.searchBar__input:focus {
  border: 3px solid $color-secondary;
}

.searchBar__button {
  background-color: $color-primary;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.5rem;
}
