@import '../../theme/variables.scss';

@media(max-width:576px){
  .allMoviesRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media(min-width:577px){
  .allMoviesRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.allMoviesRow__description {
  margin: 10px;
}

.allMoviesRow__filter {
  margin: 20px;
}

.movies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.h3 {
  display: inline;
  margin: 10px;
}

.movies__buttonRow{
  width: 100%;
  display: flex;
  justify-content: center;
}

.movies__button{
  margin: 2rem;
  width: 50%;
  background-color: white;
  color: $color-primary;
  border: 3px solid $color-primary;
  border-radius: 10px;
  padding: 1rem;
}
