@import '../../theme/variables.scss';

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  width: 90%;
  gap: 20px;

  &__empty {
    font-size: 2rem;
    margin-top: 70px;
    color: $white;
  }
}

.movie-list__adderButtonRow{
  width: 100%;
display: flex;
justify-content: center;
}

.movie-list__adderButton{
  background-color: $primary;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  width: 20%;
  padding: 0.5rem;
}
